<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

    <beans>
        <bean id="triangle" class="org.agm.Triangle">
            <!-- Below is setter injection -->
            <property name="type" value="Equilateral"/>
            <!-- Below is constructor injection -->
            <constructor-arg value="white" />
        </bean>

        <bean id="parent" class="org.agm.TriangleWithPoint">
            <property name="pointA" ref="pointA" />
        </bean>

        <bean id="triangleWithPoint" class="org.agm.TriangleWithPoint" parent="parent">
            <property name="pointB" ref="pointB" />
            <property name="pointC" ref="pointC" />
        </bean>

        <!-- In the case the member variables were to be collections like list, we may want to merge child beans with parent
        we can use abstract=true in parent and that makes whatever is in the parent as default and the child beans can just add to it.
        -->

    <bean id="pointA" class="org.agm.Point">
            <property name="x" value="0"/>
            <property name="y" value="0"/>
        </bean>
        <bean id="pointB" class="org.agm.Point">
            <property name="x" value="-20"/>
            <property name="y" value="0"/>
        </bean>
        <bean id="pointC" class="org.agm.Point">
            <property name="x" value="+20"/>
            <property name="y" value="0"/>
        </bean>
    </beans>