<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

    <beans>
        <bean id="triangle" class="org.agm.Triangle">
            <!-- Below is setter injection -->
            <property name="type" value="Equilateral"/>
            <!-- Below is constructor injection -->
            <constructor-arg value="white" />
        </bean>

        <bean id="triangleWithPoint" class="org.agm.TriangleWithPoint">
            <property name="PointA" ref="zeroPoint"/>
            <property name="PointB">
                <bean class="org.agm.Point">
                    <property name="x" value="-20"/>
                    <property name="y" value="0"/>
                </bean>
            </property>
            <property name="PointC">
                <bean class="org.agm.Point">
                    <property name="x" value="+20"/>
                    <property name="y" value="0"/>
                </bean>
            </property>
        </bean>

        <bean id="zeroPoint" class="org.agm.Point">
            <property name="x" value="0"/>
            <property name="y" value="0"/>
        </bean>
    </beans>